
$login-popover-bg: #122F57;

#login {
    aside, #header {
        display: none !important;
    }

    #content {
        top: 0;
        left: 0;
     }

    .page-signin .signin-header {
        background: #a72f38 url('banner-valentin2.jpg') center center no-repeat!important;
        height:180px;
    }

    .popover {
        background-color: $login-popover-bg;
        border-color: $login-popover-bg;
        text-align:center;
        color:white;
        font-size:12px;
        width:150px;
    }

    .popover-content:before {
        content: "\e016";
        font-family: Flaticon;
        font-style: normal;
        font-size:50px;
        display: block;
        margin:0 auto;
        margin-top:5px;
        margin-bottom:-20px;
    }

    .popover-content strong {
        font-size:13px;
    }

    .popover.bottom > .arrow {
        border-bottom-color: $login-popover-bg;
    }

    .popover.bottom > .arrow:after {
        border-bottom-color: $login-popover-bg;
    }

    .login-addon {
        padding-left:14px;
        padding-right:14px;
        padding-bottom:2px;
    }

    .register-addon {
        padding-bottom: 1px;
        font-size: 21px;
        padding-top: 3px;
    }
}

