aside, #header {
	display: none !important;
}

#content {
	top: 0;
	left: 0;
}

.page-signin .signin-header {
	background: #a72f38 url('banner2.jpg') center center no-repeat!important;
	height:180px;
}

.page-signin .signin-header:after {
	content: " ";
	background: url('tiranisu.png') top left no-repeat;
	position:absolute;
	bottom:0;
	left:10%;
	display:block;
	width:414px;
	height:180px;
}

.page-signin .signin-header .overlay {
	opacity:0.5;
}